.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(27, 31, 27, 0.9);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.link{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}